@import '../../../color';

.confirmation-card {
  background-color: white;
  box-shadow: 0 0 3px #CCC;
  // max-width: 18rem;
  border-radius: 1rem;
  position: relative;
  .card-tag {
    background-color: $base-color-slate;
    position: absolute;
    color: white;
    right: 0;
    border-radius: 1rem 0 0 1rem;
    padding: 0.3rem 1rem;
    top: 1.5rem;
  }
  .card-section {
    padding: 1rem;
    &.price-section {
      background-color: #EEE;
      border-radius: 0 0 1rem 1rem;
    }
    .card-logo {
      height: 3rem;
    }
    .company-name {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .card-link {
      color: $base-color-green;
      font-size: 0.9rem;
      text-decoration: underline;
    }
    .price {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}
