.customer-card {
  background-color: #EEE;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  position: relative;
  .edit-icon {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    top: 1rem;
    img {
      height: 1.5rem;
    }
  }
}
