.life-banner {
  background-color: #efefef;
  min-height: 10rem;
  position: relative;
  .banner-text {
    line-height: 3rem;
  }
  .banner-img {
    height: 18rem;
  }
  .life-widget-input {
    min-width: 15rem;
  }
  .life-widget-input {
    min-width: 15rem;
  }
  /* Medium (md) */
  @media (max-width: 768px) {
    .life-widget-input {
      min-width: 0;
    }
  }
}
