@import "../../../color";

.articles {
  background-color: #EFEFEF;
  min-height: 20rem;
  .article-card {
    width: 12rem;
    height: 210px;
  }
  .article-slider-arrow-prev {
    bottom: -28%;
    left: 40%;
    z-index: 2;
    top: initial;
  }
  .article-slider-arrow-next {
    bottom: -28%;
    right: 40%;
    z-index: 2;
    top: initial;
  }
  .slick-dots {
    bottom: -50px;
  }
}
