@import "../../color";

.confirmation-details {
  .details-container {
    border-bottom: thin solid #ccc;
    padding: 2rem 0;
    margin-bottom: 1rem;
    .detail {
      border-right: none;
      border-bottom: thin solid #ccc;
      padding: 1rem 3rem;
      flex-basis: 100%;
      font-size: 0.9rem;
      &:last-child {
        border: none;
      }
    }
    /* Medium (md) */
    @media (min-width: 640px) {
      .detail {
        border-right: thin solid #ccc;
        border-bottom: none;
        padding: 1rem 3rem;
        flex-basis: 33.33%;
        font-size: 0.9rem;
        &:last-child {
          border: none;
        }
      }
    }
  }
}
