@import "../../color.scss";

header {
  background-color: $base-color-green;
  .account-menu {
    border: thin solid $base-color-slate;
    border-radius: 5rem;
    padding: 0.3rem 1.5rem;
  }
  .border-nav {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      width: 0;
      border-bottom: 2px solid black;
      transition: 0.5s;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
