@import "../../../../color";

.health-steps {
  background-color: #EFEFEF;
  min-height: 18rem;
  .steps-div {
    text-align: center;
    border-right: none;
    border-bottom: thin solid #ccc;
    padding: 1rem 0;
    flex-basis: 100%;
    &:last-child {
      border: none;
    }
  }
  /* Medium (md) */
  @media (min-width: 640px) {
    .steps-div {
      text-align: left;
      border-right: thin solid #ccc;
      border-bottom: none;
      padding: 1rem 3rem;
      flex-basis: 33.33%;
      &:last-child {
        border: none;
      }
    }
  }
}
