@import '../../color.scss'; 

.wrapper-newsletter {
  background-color: $base-color-slate;
  color: white;
}

.newsletter-email-input {
  min-width: 15rem;
}

.social-icons {
  background-color: $base-color-green;
  color: $base-color-slate;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  text-align: center;
  border-radius: 50%;
}