.listing {
  .listing-wrapper {
    flex-basis: 100%;
  }
  .listing-wrapper-full {
    flex-basis: 100%;
  }
  .disclaimer {
    position: relative;
    padding-left: 0.5rem;
    &::before {
      position: absolute;
      top: 0;
      left: 0rem;
      content: "*";
    }
  }
  /* Small (sm) */
  @media (min-width: 640px) {
    .listing-wrapper {
      flex-basis: 100%;
    }
  }

  /* Medium (md) */
  @media (min-width: 768px) {
    .listing-wrapper {
      flex-basis: 50%;
    }
  }

  /* Large (lg) */
  @media (min-width: 1024px) {
    .listing-wrapper {
      flex-basis: 33.333%;
    }  
  }
}
