@import "../../../../color";

.travel-steps {
  background-color: #EFEFEF;
  min-height: 18rem;
  .steps-div{
    border-right: thin solid #CCC;
    padding: 1rem 3rem;
    flex-basis: 33.33%;
    &:last-child {
      border: none;
    }
  }
}
