@import '../../color';

.compare {
  position: relative;
  .page-header {
    background-color: #efefef;
    min-height: 10rem;
  }
  .listing-wrapper {
    flex-basis: 25%;
  }
  .quotes-alert-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    .quotes-alert {
      background-color: $base-color-slate;
      padding: 0.5rem 1rem;
      color: white;
      border-radius: 0.5rem;
      button {
        box-shadow: none;
      }
    }
  }
}
