@import "../../../../color";

.form-group-wrapper {
  padding-left: 1.5rem;
  min-height: 2.5rem;
  border-radius: 4rem;
  background-color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  .form-group-btn {
    background-color: $base-color-green;
    color: $base-color-slate;
    padding: 0 2rem;
    border-radius: 0 4rem 4rem 0;
  }
  .form-group-input {
    padding: 0 0.5rem;
    flex-grow: 1;
    border-right: thin solid #CCC;
    color: $base-color-slate;
  }
}
